{% extends 'base.html' %}
{% load static %}
{% load tags %}
{% block div %}
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            {% for info in article_list %}
            <div class="col-lg-4">
                <div class="ibox">
                    <div class="ibox-content b-xc">
                        <a href="{% url 'detail' %}?article_id={{ info.id }}" class="btn-link">
                            <h2>
                                {{ info.title | strip_ele}}
                            </h2>
                        </a>
                        <div class="small m-b-xs">
                            <strong>{{ info.author }}</strong> <span class="text-muted" style="color: darksalmon"><i class="fa fa-clock-o" ></i> {{ info.publish_time }}</span>
                        </div>
                        <p>
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>标签：</h5>
                                {% for type in info.article_type.all %}
                                <button class="btn btn-primary btn-xs" type="button">{{ type }}</button>
                                {% endfor %}
                            </div>
                            <div class="col-md-6">
                                <div class="small text-right">
                                    <h5>状态：</h5>
                                    <div><i class="fa fa-comments-o"> </i> {{ info.comment_num }} 评论</div>
                                    <i class="fa fa-eye"> </i> {{ info.browse_num }} 浏览
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
{% if user.is_authenticated and user.socialaccount_set.all.0.get_avatar_url %}
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "showDuration": "5000",
            "hideDuration": "5000",
            "timeOut": "5000",
            "extendedTimeOut": "5000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        toastr['success']("Git 登录成功", "Hi，{{ user.username }}，欢迎来到快捷社区");
    </script>
{% endif %}
{% endblock %}

