{% extends 'base.html' %}
{% load static %}
{% block link %}
    <link href="{% static 'body/css/pc.9f7f14b3.css' %}" rel="stylesheet">
{% endblock %}
{% block div %}
    <div class="qc-cc-Cb"></div>
    <div class="c-d c-d-e">
        <div class="layout___30l4Y">
            <main class="main___34Tlm">
                <div class="wrapper___2-AnU">
                    <div class="content___1qExG">
                        <div style="width:100%;" class="globalMessage___2mHhV hide___1q-DN"></div>
                        <div>
                            <div>
                                <div id="itemList" class="list___2zO5-">
                                    <div class="topicItem___1B0j1">
                                        <div><h2 class="topicTitle___1HWIA"><a class="content___3EhkM link___1df9x"
                                                                               href="/topic/7OV67FM0JEE"
                                                                               target="_blank">商汤发布人脸识别一体机，同时支持
                                            3 个人识别</a></h2></div>
                                        <div class="summary___3jny8">
                                            <div class="bp-pure___3xB_W limitHeight___2pH-4">商汤科技 SenseTime
                                                在深圳推出商汤智行人脸识别一体机
                                                SensePass Pro ... SensePass Pro 采用 8 寸超薄外观设计，并搭载高清双目摄像头和商汤原创的人脸识别算法 ...
                                                它能够对通行人员的人脸进行自动抓取和识别，同时与数据库中的人脸信息进行 1：N 比对，仅需 0.3 秒即可完成极速验证，识别准确率高达
                                                99.99%。
                                            </div>
                                        </div>
                                        <div class="ReactCollapse--collapse" style="overflow:hidden;height:0;">
                                            <div class="ReactCollapse--content">
                                                <div class="main___r_aC8">
                                                    <div>
                                                        <div>
                                                            <div class="articleItem___1DFqn first___H7LsO undefined">
                                                                <div>
                                                                    <a class="articleTitle___FImLZ enableVisited link___1df9x"
                                                                       href="https://www.pingwest.com/w/192422"
                                                                       target="_blank">商汤发布人脸识别一体机，同时支持 3 个人识别</a>
                                                                    <div class="meta___2iOT_">
                                                                        <span><span>PingWest 品玩</span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="topicMeta___2sUs0"><a class="topicLink___2JNZz"
                                                                                          href="/topic/7OV67FM0JEE"
                                                                                          target="_blank">查看话题<span></span></a>
                                                        </div>
                                                        <p class="fix___1rDp5"></p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="topicItem___1B0j1">
                                        <div><h2 class="topicTitle___1HWIA"><a class="content___3EhkM link___1df9x"
                                                                               href="/topic/7OV56sGVoXa"
                                                                               target="_blank">台媒：华为海思正全力开发更多芯片，包括电脑用的
                                            CPU 和 GPU</a></h2></div>
                                        <div class="summary___3jny8">
                                            <div class="bp-pure___3xB_W limitHeight___2pH-4">
                                                供应链相关人士指出，海思目前正在开发设计多种芯片，从移动设备使用的一系列芯片，到多媒体显示芯片及电脑使用的
                                                CPU、GPU，海思都在尝试，且有新品力作
                                                ...
                                                目前，华为旗下已拥有麒麟、巴龙、鸿鹄、凌霄及鲲鹏等一系列芯片产品线，而海思近期又陆续在台积电启动新的芯片开发量产计划，显示华为内部的自给自足芯片计划，正试图向外扩大服务内容及影响层面
                                                ... 报道指出，在一颗 7 纳米制程芯片开发成本动辄几亿美元的规模来估算后，海思 2019
                                                年资本支出计划不仅将明显超标，甚至可能是其他一线芯片开发厂商的好几倍，这种大手笔的程度或许是因为局势变化带来的压力，但不可否认的，除华为及海思联手外，全球大概也没有一家芯片设计厂商有办法和本事作出这样的事。
                                            </div>
                                        </div>
                                        <div class="ReactCollapse--collapse" style="overflow:hidden;height:0;">
                                            <div class="ReactCollapse--content">
                                                <div class="main___r_aC8">
                                                    <div>
                                                        <div>
                                                            <div class="articleItem___1DFqn first___H7LsO undefined">
                                                                <div>
                                                                    <a class="articleTitle___FImLZ enableVisited link___1df9x"
                                                                       href="https://tech.sina.com.cn/it/2019-08-06/doc-ihytcitm7263097.shtml"
                                                                       target="_blank">台媒： 海思正全力开发更多芯片 包括电脑用的
                                                                        CPU、GPU</a>
                                                                    <div class="meta___2iOT_">
                                                                        <span><span>新浪科技</span></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="topicMeta___2sUs0"><a class="topicLink___2JNZz"
                                                                                          href="/topic/7OV56sGVoXa"
                                                                                          target="_blank">查看话题<span></span></a>
                                                        </div>
                                                        <p class="fix___1rDp5"></p></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}