{% extends 'base.html' %}
{% block div %}
    <div class="tabs-container">
        <div class="tabs-left">
            <ul class="nav nav-tabs">
                <li class=""><a data-toggle="tab" href="#tab-9" aria-expanded="false"> 自定义RSS源须知</a>
                </li>
                <li class="active"><a data-toggle="tab" href="#tab-10" aria-expanded="false">网页匹配--自定义RSS源工具</a>
                </li>
                <li class=""><a data-toggle="tab" href="#tab-11" aria-expanded="false">JSON匹配--自定义RSS源工具</a>
                </li>
            </ul>
            <div class="tab-content col-sm-8">
                <div id="tab-9" class="tab-pane ibox float-e-margins b-xc">
                    <div id="ibox-content">
                        <div class="vertical-container light-timeline" id="vertical-timeline">
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg fa-spin">
                                    <i class="fa fa-circle-o-notch"></i>
                                </div>
                                <div class="vertical-timeline-content b-xc">
                                    <h2>第一步</h2>
                                    <p>注意：所有可选项都有默认值，如果未输入就按照默认值执行！</p>
                                    <p>输入正确原页面地址，编码格式默认为utf8。</p>
                                    <p>HTML源代码中若含有乱码，将编码格式设置为gbk或其它格式。</p>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon blue-bg fa-spin">
                                    <i class="fa fa-circle-o-notch"></i>
                                </div>

                                <div class="vertical-timeline-content b-xc">
                                    <h2>第二步</h2>
                                    <h3>HTML匹配：</h3>
                                    <p>使用正则表达式进行筛选数据，支持筛选三种数据，例如：标题链接和标题，描述。</p>
                                    <p>推荐使用贪婪匹配和非贪婪匹配进行筛选。</p>
                                    <p>下一页：选取访问当前页面的时候，在特定地方展示下一页的url的对应正则。</p>
                                    <h3>JSON匹配：</h3>
                                    <p>例如：</p>
                                    <p>
                                        {"data":{ "forecast":[ {"date": "星期一" }]}, "ganmao": "各项气象条件适宜，无明显降温过程，发生感冒机率较低。"
                                        }
                                    </p>
                                    <p>
                                        想取出星期一, 你应该这样写：data.forecast[1].date
                                    </p>
                                    <p>
                                        想取出ganmao的内容, 你应该这样写：data.ganmao
                                    </p>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon lazur-bg fa-spin">
                                    <i class="fa fa-circle-o-notch"></i>
                                </div>

                                <div class="vertical-timeline-content b-xc">
                                    <h2>第三步</h2>
                                    <p>定义Feed的标题和链接，推荐使用默认值。</p>
                                    <p>Feed描述可不填。</p>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon yellow-bg fa-spin">
                                    <i class="fa fa-circle-o-notch"></i>
                                </div>

                                <div class="vertical-timeline-content b-xc">
                                    <h2>第四步</h2>
                                    <p>点击Create创建源</p>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon lazur-bg fa-spin">
                                    <i class="fa fa-circle-o-notch"></i>
                                </div>

                                <div class="vertical-timeline-content b-xc">
                                    <h2>第五步</h2>
                                    <p>使用RSS订阅工具来订阅这个源</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-10" class="tab-pane active">
                    {% include 'rss/page_matching.html' %}
                </div>
                <div id="tab-11" class="tab-pane active">
                    {% include 'rss/json_matching.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        });
        $('#reload').submit(function (even) {
            even.preventDefault();
            var url = $('#target_url').val();
            if (!url.match('^https?:/{2}\\w.+$')) {
                alert('URL格式错误!');
                return
            }
            $('#load').removeClass('hidden');
            $.ajax({
                type: 'POST',
                url: '{% url 'feed' %}',
                data: {
                    'target_url': url,
                    'encode': $('#encode').val(),
                    'reload': $('#reload_button').val(),
                },
                async: true,
                success: function (data) {
                    if (data.reload_status == 1) {
                        $('#page_code').text(data.msg);
                        $('#load').addClass('hidden');
                        $('#target_url').attr('disabled', '');
                        $('#page_code').attr('disabled', '');
                        $('#target_url').parent().addClass('has-success');
                        $('#page_code').parent().addClass('has-success');
                    } else {
                        alert(data.msg);
                        $('#load2').addClass('hidden');
                    }
                }
            })
        });

        $('#extract').submit(function (even) {
            even.preventDefault();
            $('#load2').removeClass('hidden');
            $.ajax({
                type: 'POST',
                url: '{% url 'feed' %}',
                data: {
                    'html': $('#page_code').val(),
                    'pattern': $('#pattern').val(),
                    'next_page': $('#next_page').val(),
                    'extract': $('#extract_button').val(),
                },
                async: true,
                success: function (data) {
                    if (data.extract_status == 1) {
                        $('#page_result').text(data.infos);
                        document.getElementById('title').value = data.title;
                        $('#title').parent().addClass('has-success');
                        document.getElementById('link').value = $('#target_url').val();
                        $('#link').parent().addClass('has-success');
                        $('#load2').addClass('hidden');
                        $('#pattern').parent().addClass('has-success');
                        $('#page_result').attr('disabled', '');
                        $('#page_result').parent().addClass('has-success');
                    } else {
                        alert(data.msg);
                        $('#load2').addClass('hidden');
                    }
                }
            })
        });

        $('#create').submit(function (even) {
            even.preventDefault();
            $('#load3').removeClass('hidden');
            $.ajax({
                type: 'POST',
                url: '{% url 'feed' %}',
                data: {
                    'target_url': $('#target_url').val(),
                    'encode': $('#encode').val(),
                    'pattern': $('#pattern').val(),
                    'next_page': $('#next_page').val(),
                    'html': $('#page_code').val(),
                    'description': $('#description').val(),
                    'title_name': $('#title').val(),
                    'link': $('#link').val(),
                    'create': $('#create_button').val(),
                },
                async: true,
                success: function (data) {
                    if (data.create_status == 1) {
                        $('#result').removeClass('hidden');
                        $('#load3').addClass('hidden');
                        $('#rss_url').text(data.url);
                        $('#pattern').attr('disabled', '');
                        document.getElementById('rss_url').href = data.url;

                    } else {
                        alert(data.msg);
                        $('#load3').addClass('hidden');
                    }
                }
            })
        });

        $('#json_extract').submit(function (even) {
            even.preventDefault();
            var json_url = $('#json_url').val();
            if (!json_url.match('^https?:/{2}\\w.+$')) {
                alert('URL格式错误!');
                return
            }
            $('#load4').removeClass('hidden');
            $.ajax({
                type: 'POST',
                url: '{% url 'feed' %}',
                data: {
                    'json_url': json_url,
                    'json_title': $('#json_title').val(),
                    'json_description': $('#json_description').val(),
                    'json_link': $('#json_link').val(),
                    'json_extract': $('#json_extract_button').val(),

                },
                async: true,
                success: function (data) {
                    if (data.json_extract_status == 1) {
                        $('#json_url').attr('disabled', '');
                        $('#json_url').parent().addClass('has-success');
                        $('#json_page_code').text(data.infos);
                        $('#load4').addClass('hidden');
                        $('#json_page_code').attr('disabled', '');
                        $('#json_page_code').parent().addClass('has-success');
                    } else {
                        alert(data.msg);
                        $('#load4').addClass('hidden');
                    }
                }
            })
        });

        $('#json_create').submit(function (even) {
            even.preventDefault();
            $('#load5').removeClass('hidden');
            $.ajax({
                type: 'POST',
                url: '{% url 'feed' %}',
                data: {
                    'json_url': $('#json_url').val(),
                    'json_title': $('#json_title').val(),
                    'json_description': $('#json_description').val(),
                    'json_link': $('#json_link').val(),
                    'json_feed_link': $('#json_feed_link').val(),
                    'json_feed_title': $('#json_feed_title').val(),
                    'json_feed_description': $('#json_feed_description').val(),
                    'json_create': $('#json_create_button').val(),
                },
                async: true,
                success: function (data) {
                    if (data.json_extract_status == 1) {
                        $('#json_result').removeClass('hidden');
                        $('#load5').addClass('hidden');
                        $('#json_rss_url').text(data.url);
                        document.getElementById('json_rss_url').href = data.url;
                        $('#json_title').attr('disabled', '');
                        $('#json_description').attr('disabled', '');
                        $('#json_link').attr('disabled', '');
                        $('#json_title').parent().addClass('has-success');
                        $('#json_description').parent().addClass('has-success');
                        $('#json_link').parent().addClass('has-success');
                    } else {
                        alert(data.msg);
                        $('#load5').addClass('hidden');
                    }
                }
            })
        })


    </script>
{% endblock %}

